{% extends 'blog/base.html' %}
{% load static %}

{% block main %}
    <div class="site-wrap">

        {% include 'blog/navbar.html' %}
        <div class="site-section" data-aos="fade">
            <div class="container-fluid">

                <div class="row justify-content-center">

                    <div class="col-md-7">
                        <div class="row mb-5">
                            <div class="col-12 ">
                                <h2 class="site-section-heading text-center">my photos</h2>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" id="lightgallery">
                    {% for post in object_list %}
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade"
                             data-src="{{ post.image.url }}"
                             data-sub-html="<h4>Fading Light</h4><p>{{ post.caption }}</p>">
                            <a href="{% url 'blog:post_detail' post.pk %}"><img src="{{ post.thumbnail_url }}" alt="IMage" class="img-fluid"></a>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="footer py-4">
            <div class="container-fluid text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script data-cfasync="false"
                                            src="{% static 'blog//cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by
                    <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>

    </div>
{% endblock %}
