{% extends 'blog/base.html' %}
{% load static %}

{% block main %}
    <div class="site-wrap">

        {% include 'blog/navbar.html' %}

        <div class="row site-section pb-0">
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
                <img src="{{ user.image.url }}" alt="Image"
                     class="img-fluid w-50 rounded-circle mb-4">
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
                <h2 class="text-white font-weight-light mb-4">{{ user.user_name }}</h2>
                <p class="mb-4">{{ user.bio |safe|striptags }}</p>
                {% if user == request.user %}
                    <a href="{% url 'account:profile-update' %}" class="btn btn-primary py-2 px-4">Edit
                        Profile</a>
                {% endif %}
                {% if not user == request.user %}
                    {% if not user in request.user.following %}
                        <a href="#" class="btn btn-primary py-2 px-4">Request</a>
                    {% endif %}
                {% endif %}
                <p class="pt-3">
                    <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
                </p>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">

                <div class="mb-3">
                    <p class="mb-0 font-weight-bold text-white">Follower</p>
                    <p class="mb-4">
                        <a data-target="#followerModal" data-toggle="modal"
                           href="#followerModal">{{ user_obj.follower.count }}</a>
                    </p>
                    <p class="mb-0 font-weight-bold text-white">Fallowing</p>
                    <p class="mb-4">
                        {#                        <a href="{% url 'account:following_list' user.user_name %}">{{ user_obj.following.count }}</a>#}
                        <a data-target="#followingModal" data-toggle="modal"
                           href="#followingModal">{{ user_obj.following.count }}</a>
                    </p>
                    <p class="mb-0 font-weight-bold text-white">Posts</p>
                    <p class="mb-4"><a href="#">{{ user.posts.count }}</a></p>
                </div>
            </div>

        </div>
        <!-- Modal follower -->
        <div class="modal fade " id="followerModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Followers</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        {% for obj in user_obj.follower %}
                            <div class="text-center mb-5">
                                <img src="{{ obj.from_user.image.url }}" alt="Image"
                                     class="img-fluid w-50 rounded-circle mb-4">
                                <a href="{% url 'account:profile' obj.from_user.user_name %}">
                                    <h2 class="text-black font-weight-light mb-4">{{ obj.from_user.user_name }}</h2>
                                </a>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal following -->
        <div class="modal fade " id="followingModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Followings</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        {% for obj in user_obj.following %}
                            <div class="text-center mb-5">
                                <img src="{{ obj.to_user.image.url }}" alt="Image"
                                     class="img-fluid w-50 rounded-circle mb-4">
                                <a href="{% url 'account:profile' obj.to_user.user_name %}">
                                    <h2 class="text-black font-weight-light mb-4">{{ obj.to_user.user_name }}</h2>
                                </a>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


        <div class="site-section pt-0" data-aos="fade">
            <div class="container-fluid">
                {#                <div class="row justify-content-center">#}
                {#                    <div class="col-md-7">#}
                {#                        <div class="row mb-5">#}
                {#                            <div class="col-12 ">#}
                {#                                <h2 class="site-section-heading text-center">my photos</h2>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="row" id="lightgallery">
                    {% for post in user_obj.posts %}
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade"
                             data-src="{{ post.image.url }}"
                             data-sub-html="<h4>Fading Light</h4><p>{{ post.caption }}</p>">
                            <a href="{% url 'blog:post_detail' post.pk %}"><img src="{{ post.thumbnail_url }}"
                                                                                alt="IMage" class="img-fluid"></a>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="footer py-4">
            <div class="container-fluid text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script data-cfasync="false"
                                            src="{% static 'blog//cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by
                    <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>

    </div>
{% endblock %}
